[submodule "mkidir"]
	path = mkidir
	url = git@github.com:dct-LuLu/mkidir.git
[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:dct-LuLu/libft.git
	branch = libft-stripped
[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git
